@import url('https://fonts.cdnfonts.com/css/futura-pt?styles=117664');

:root {
  font-family: 'Futura PT', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f9fafb;
}

.ant-input-affix-wrapper,
.ant-input,
.ant-picker {
  background-color: #f9fafb;
}

.ant-layout-header {
  color: #213547;
  background-color: #ffffff;
  box-shadow: 0 0 1px #213547;
}
